/*
* @Author: Just be free
* @Date:   2020-09-28 14:23:00
* @Last Modified by:   Just be free
* @Last Modified time: 2020-09-28 14:30:44
*/
.vg-spin-triple-bounce {
  .triple-bounce1,
  .triple-bounce2,
  .triple-bounce3 {
    background: #ccc;
    border-radius: 100%;
    display: inline-block;
    animation: vg-triple-bounce 1.4s infinite ease-in-out both;
  }
  .triple-bounce1 {
    animation-delay: -0.32s;
  }
  .triple-bounce2 {
    animation-delay: -0.16s;
  }
}
@keyframes vg-triple-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
