/*
* @Author: Just be free
* @Date:   2020-11-19 17:56:52
* @Last Modified by:   Just be free
* @Last Modified time: 2020-12-16 09:49:13
*/
.vg-animation-list-item {
  transform: translateY(0px);
  backface-visibility: hidden;
  transition: all 500ms ease;
  &.no-transform {
    transform: none;
  }
}
.vg-slide-in-enter-from,
.vg-slide-in-enter-to,
.vg-slide-in-enter-active,
.vg-slide-in-leave-active {
  opacity: 0;
  transform: translateY(100px);
}