/*
* @Author: Just be free
* @Date:   2020-09-22 17:08:12
* @Last Modified by:   Just be free
* @Last Modified time: 2020-09-28 14:49:08
*/
.vg-flex {
  display: flex;
}
.vg-flex-fix-bottom-line:after {
  content: "";
  flex: auto;
}
.vg-flex-direction-row {
  flex-direction: row;
}
.vg-flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.vg-flex-direction-column {
  flex-direction: column;
}
.vg-flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.vg-flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.vg-flex-wrap-wrap {
  flex-wrap: wrap;
}
.vg-flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.vg-justify-content-flex-start {
  justify-content: flex-start;
}
.vg-justify-content-flex-end {
  justify-content: flex-end;
}
.vg-justify-content-center {
  justify-content: center;
}
.vg-justify-content-space-between {
  justify-content: space-between;
}
.vg-justify-content-space-around {
  justify-content: space-around;
}
.vg-align-items-flex-start {
  align-items: flex-start;
}
.vg-align-items-flex-end {
  align-items: flex-end;
}
.vg-align-items-center {
  align-items: center;
}
.vg-align-items-baseline {
  align-items: baseline;
}
.vg-align-items-stretch {
  align-items: stretch;
}
.vg-align-content-flex-start {
  align-content: flex-start;
}
.vg-align-content-flex-end {
  align-content: flex-end;
}
.vg-align-content-center {
  align-content: center;
}
.vg-align-content-space-between {
  align-content: space-between;
}
.vg-align-content-space-around {
  align-content: space-around;
}
.vg-align-content-stretch {
  align-content: stretch;
}

@media print, screen {
  .vg-xs-col-1 {
    flex: 0 1 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }

  .vg-xs-col-2 {
    flex: 0 1 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }

  .vg-xs-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
    width: 25%;
  }

  .vg-xs-col-4 {
    flex: 0 1 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }

  .vg-xs-col-5 {
    flex: 0 1 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }

  .vg-xs-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
    width: 50%;
  }

  .vg-xs-col-7 {
    flex: 0 1 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }

  .vg-xs-col-8 {
    flex: 0 1 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }

  .vg-xs-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
    width: 75%;
  }

  .vg-xs-col-10 {
    flex: 0 1 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }

  .vg-xs-col-11 {
    flex: 0 1 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }

  .vg-xs-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media print, screen and (min-width: 768px) {
  .vg-sm-col-1 {
    flex: 0 1 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }

  .vg-sm-col-2 {
    flex: 0 1 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }

  .vg-sm-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
    width: 25%;
  }

  .vg-sm-col-4 {
    flex: 0 1 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }

  .vg-sm-col-5 {
    flex: 0 1 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }

  .vg-sm-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
    width: 50%;
  }

  .vg-sm-col-7 {
    flex: 0 1 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }

  .vg-sm-col-8 {
    flex: 0 1 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }

  .vg-sm-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
    width: 75%;
  }

  .vg-sm-col-10 {
    flex: 0 1 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }

  .vg-sm-col-11 {
    flex: 0 1 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }

  .vg-sm-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media print, screen and (min-width: 992px) {
  .vg-md-col-1 {
    flex: 0 1 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }

  .vg-md-col-2 {
    flex: 0 1 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }

  .vg-md-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
    width: 25%;
  }

  .vg-md-col-4 {
    flex: 0 1 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }

  .vg-md-col-5 {
    flex: 0 1 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }

  .vg-md-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
    width: 50%;
  }

  .vg-md-col-7 {
    flex: 0 1 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }

  .vg-md-col-8 {
    flex: 0 1 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }

  .vg-md-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
    width: 75%;
  }

  .vg-md-col-10 {
    flex: 0 1 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }

  .vg-md-col-11 {
    flex: 0 1 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }

  .vg-md-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media print, screen and (min-width: 1200px) {
  .vg-lg-col-1 {
    flex: 0 1 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
  }

  .vg-lg-col-2 {
    flex: 0 1 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
  }

  .vg-lg-col-3 {
    flex: 0 1 25%;
    max-width: 25%;
    width: 25%;
  }

  .vg-lg-col-4 {
    flex: 0 1 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
  }

  .vg-lg-col-5 {
    flex: 0 1 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
  }

  .vg-lg-col-6 {
    flex: 0 1 50%;
    max-width: 50%;
    width: 50%;
  }

  .vg-lg-col-7 {
    flex: 0 1 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
  }

  .vg-lg-col-8 {
    flex: 0 1 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
  }

  .vg-lg-col-9 {
    flex: 0 1 75%;
    max-width: 75%;
    width: 75%;
  }

  .vg-lg-col-10 {
    flex: 0 1 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
  }

  .vg-lg-col-11 {
    flex: 0 1 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
  }

  .vg-lg-col-12 {
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
  }
}
