/*
* @Author: Just be free
* @Date:   2020-09-22 17:08:25
* @Last Modified by:   Just be free
* @Last Modified time: 2020-09-22 17:08:26
*/
.align-self-auto {
  align-self: auto;
}
.align-self-flex-start {
  align-self: flex-start;
}
.align-self-flex-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-stretch {
  align-self: stretch;
}