/*
* @Author: Just be free
* @Date:   2020-09-23 16:16:34
* @Last Modified by:   Just be free
* @Last Modified time: 2020-09-30 15:31:34
*/

.vg-toast-container {
  position: fixed;
  min-width: 20px;
  max-width: 80%;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  min-height: 35px;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s linear;
  border-radius: 5px;
  padding: 10px;
  .toast-text {
    display: block;
    text-align: center;
    font-size: 14px;
  }
}
.vg-toast-container.located-at-top {
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.vg-toast-container.located-at-bottom {
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.vg-toast-container.located-at-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// .vg-toast-pop-enter-from,
// .vg-toast-pop-leave-to,
// .vg-toast-pop-enter-active,
// .vg-toast-pop-leave-active {
//   transition: opacity 0.2s linear;
//   opacity: 0;
// }
// .vg-toast-pop-leave-from,
// .vg-toast-pop-enter-to,
// .vg-toast-pop-leave-active {
//   transition: opacity 0.2s linear;
//   opacity: 0;
// }
// .vg-toast-pop-enter-active,
// .vg-toast-pop-leave-active {
//   transition: opacity 0.2s linear;
// }
.vg-toast-pop-enter-active,
.vg-toast-pop-leave-active {
  transition: opacity 0.2s ease;
}
.vg-toast-pop-enter-from,
.vg-toast-pop-leave-active,
.vg-toast-pop-leave-to {
  transition: opacity 0.2s ease;
  opacity: 0;
}
