/*
* @Author: Just be free
* @Date:   2021-01-20 09:54:57
* @Last Modified by:   Just be free
* @Last Modified time: 2021-01-20 10:54:24
*/
.vg-submit-bar-text {
  font-size: 12px;
  line-height: 14px;
  color: #666;
}
